<html>
    <head>
        <title>Game Board - Tic Tac Toe</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/game.css">
    </head>
    <body>
        <div class="container">
            <h1>GameBoard</h1>
            <div class="row">
                <div class="col-md-12">
                    <table id="gameboard">
                        <tr>
                            <td><button></button></td>
                            <td><button></button></td>
                            <td><button></button></td>
                        </tr>
                        <tr>
                            <td><button></button></td>
                            <td><button></button></td>
                            <td><button></button></td>
                        </tr>
                        <tr>
                            <td><button></button></td>
                            <td><button></button></td>
                            <td><button></button></td>
                        </tr>
                    </table>
                </div>
                
            </div>
            <div class="row" id="chatboard">
                <div class="col-md-6">
                    <textarea name="logChat" id="logChat" readonly><%=msgLog%></textarea>
                </div>
                <div class="col-md-6">
                        <textarea name="inputChat" id="inputChat"></textarea>
                    <button id="submitChat">Enviar</button>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <script src="js/clusterws.js"></script>
        <script src="js/game.js"></script>

        <script>
            var hash_chat_channel = '<%=chat_channel%>';
            var apelido = '<%=apelido%>';
            var chat_channel, game_channel;
            const btnEnviar = document.getElementById('submitChat');
            const logChat = document.getElementById('logChat');
            const inputChat = document.getElementById('inputChat');
            let socket = new ClusterWS({
                port: 8000,
                url: 'ws://127.0.0.1:8000'
            });

            socket.on('connect', () => {
                chat_channel = socket.subscribe('<%=chat_channel%>').watch((channelMessage) => {
                    logChat.value += "\n" + channelMessage;
                });
                game_channel = socket.subscribe('<%=game_channel%>').watch((channelMessage) => {
                    console.log(channelMessage)
                    logChat.value += "\n" + channelMessage;
                });
            });
            socket.on('iniciarPartida', function(){
                logChat.value+="\n" + "A partida começou!";
            });
            $('#gameboard button').click(function(){
                var id = $('#gameboard button').index(this);
                // pintarTela(id);
                // game_channel.publish(id+"_"+"jogada");
                $.ajax({
                    type:'POST',
                    url: '/jogada',
                    data: {ind: id},
                    success: function(data, status, xhr){
                        console.log(data);
                        atualizarTabuleiro();
                    },
                    error: function (err, status, xhr){
                        logChat.value+="\n" + err.responseJSON.msg;
                    }
                });
            });
            function atualizarTabuleiro() {
                $.ajax({
                    type:'POST',
                    url: '/game/tabuleiro',
                    data: {},
                    success: function(data, status, xhr){
                        console.log(data);
                        pintarTela(data);
                    },
                    error: function (err, status, xhr){
                        logChat.value+="\n" + err.responseJSON.msg;
                    }
                });
            }


            btnEnviar.onclick = function() {
                // adicionar codigo do envio aqui.
                chat_channel.publish(apelido + ": "+inputChat.value);
                inputChat.value = "";
            };
        </script>

    </body>
</html>